# Exclude VCS
.git
.gitignore

# Python artifacts
__pycache__
*.py[cod]
*.pyo
*.pyd

# Virtual envs and env files
.venv
venv
env
ENV
.env

# Build artifacts
build
dist
*.egg-info

# IDEs
.vscode
.idea

# OS
.DS_Store

# Ignore local ignore file
.ignore

# Lockfiles
uv.lock
